<!DOCTYPE html>
<html>
<head>
    <title>Mapa Interativo</title>
</head>
<body>
    <form method="POST">
        <label for="prisma">Prisma:</label><br>
        <input type="text" id="prisma" name="prisma"><br>
        <label for="data1">Data 1:</label><br>
        <input type="date" id="data1" name="data1"><br>
        <label for="data2">Data 2:</label><br>
        <input type="date" id="data2" name="data2"><br>
        <input type="submit" value="Comparar">
    </form>
    <iframe src="mapa.html" height="500" width="500"></iframe>
</body>
</html>
